{
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.mdx", "*.yml"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": ["**/*.astro"],
      "options": {
        "parser": "astro"
      }
    }
  ]
}
