@font-face {
  font-family: 'Satoshi Regular';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi Medium';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi Bold';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--neutrals---black--1);
  font-family: 'Satoshi Regular', 'Helvetica', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satoshi Bold';
}

a {
  color: var(--neutrals---black--1);
  text-decoration: none;
  font-family: 'Satoshi Bold';
  transition: 0.2s;

  &:hover {
    color: var(--primary---green--6);
  }
}
