:root {
  --green: 123deg;
  --primary---green--1: hsl(var(--green), 42.9%, 97.3%);
  --primary---green--2: hsl(var(--green), 45.5%, 93.5%);
  --primary---green--3: hsl(var(--green), 43.3%, 88.2%);
  --primary---green--4: hsl(var(--green), 42.5%, 82.9%);
  --primary---green--5: hsl(var(--green), 43.4%, 77.8%);
  --primary---green--6: hsl(var(--green), 43.5%, 72.9%);
  --primary---green--6--alpha: hsla(var(--green), 43.5%, 72.9%, 0.15);
  --primary---green--6--alpha--2: hsla(var(--green), 43.5%, 72.9%, 0.05);
  --primary---green--7: hsl(var(--green), 26.4%, 62.2%);
  --primary---green--8: hsl(var(--green), 17.1%, 51.8%);
  --primary---green--9: hsl(var(--green), 16%, 41.6%);
  --primary---green--10: hsl(var(--green), 16.2%, 32.7%);
  --primary---green--10--alpha: hsla(var(--green), 16.2%, 32.7%, 0.1);
  --primary---green--10--alpha--2: hsla(var(--green), 16.2%, 32.7%, 0.2);

  --blue: 228deg;
  --primary---blue--1: hsl(var(--blue), 31.4%, 93.1%);
  --primary---blue--2: hsl(var(--blue), 29.4%, 83.3%);
  --primary---blue--3: hsl(var(--blue), 29.8%, 70.4%);
  --primary---blue--4: hsl(var(--blue), 30.3%, 56.7%);
  --primary---blue--5: hsl(var(--blue), 39.4%, 43.3%);
  --primary---blue--6: hsl(var(--blue), 67.1%, 31%);
  --primary---blue--7: hsl(var(--blue), 67.2%, 26.3%);
  --primary---blue--8: hsl(var(--blue), 67.9%, 22%);
  --primary---blue--9: hsl(var(--blue), 66.7%, 17.6%);
  --primary---blue--10: hsl(var(--blue), 66.2%, 13.9%);

  --dark-green: 182deg;
  --secondary---dark--green--1: hsl(var(--dark-green), 6.7%, 91.2%);
  --secondary---dark--green--2: hsl(var(--dark-green), 6.4%, 78.6%);
  --secondary---dark--green--3: hsl(var(--dark-green), 6.7%, 61.8%);
  --secondary---dark--green--4: hsl(var(--dark-green), 8.5%, 43.7%);
  --secondary---dark--green--5: hsl(var(--dark-green), 18.2%, 26.9%);
  --secondary---dark--green--6: hsl(var(--dark-green), 56.4%, 10.8%);
  --secondary---dark--green--7: hsl(var(--dark-green), 57.4%, 9.2%);
  --secondary---dark--green--8: hsl(var(--dark-green), 55%, 7.8%);
  --secondary---dark--green--9: hsl(var(--dark-green), 56.2%, 6.3%);
  --secondary---dark--green--10: hsl(var(--dark-green), 58.3%, 4.7%);

  --purple: 249deg;
  --secondary---dark--purple--1: hsl(var(--purple), 10%, 92.2%);
  --secondary---dark--purple--2: hsl(var(--purple), 10.2%, 80.8%);
  --secondary---dark--purple--3: hsl(var(--purple), 9.7%, 65.7%);
  --secondary---dark--purple--4: hsl(var(--purple), 9.9%, 49.6%);
  --secondary---dark--purple--5: hsl(var(--purple), 18.9%, 34.3%);
  --secondary---dark--purple--6: hsl(var(--purple), 39.2%, 20%);
  --secondary---dark--purple--7: hsl(var(--purple), 39.5%, 16.9%);
  --secondary---dark--purple--8: hsl(var(--purple), 38.9%, 14.1%);
  --secondary---dark--purple--9: hsl(var(--purple), 37.9%, 11.4%);
  --secondary---dark--purple--10: hsl(var(--purple), 39.1%, 9%);

  --fiusha: 300deg;
  --secondary---dark--fiusha--1: hsl(var(--fiusha), 4.3%, 91%);
  --secondary---dark--fiusha--2: hsl(var(--fiusha), 5.5%, 78.4%);
  --secondary---dark--fiusha--3: hsl(var(--fiusha), 5.1%, 61.6%);
  --secondary---dark--fiusha--4: hsl(var(--fiusha), 6.3%, 43.5%);
  --secondary---dark--fiusha--5: hsl(var(--fiusha), 14.1%, 26.5%);
  --secondary---dark--fiusha--6: hsl(var(--fiusha), 43.4%, 10.4%);
  --secondary---dark--fiusha--7: hsl(var(--fiusha), 42.2%, 8.8%);
  --secondary---dark--fiusha--8: hsl(var(--fiusha), 42.1%, 7.5%);
  --secondary---dark--fiusha--9: hsl(var(--fiusha), 41.9%, 6.1%);
  --secondary---dark--fiusha--10: hsl(var(--fiusha), 41.7%, 4.7%);

  --black: 0deg, 0%;
  --neutrals---black--1: hsl(var(--black), 100%);
  --neutrals---black--2: hsl(var(--black), 98.8%);
  --neutrals---black--3: hsl(var(--black), 96.1%);
  --neutrals---black--4: hsl(var(--black), 94.1%);
  --neutrals---black--5: hsl(var(--black), 85.1%);
  --neutrals---black--6: hsl(var(--black), 74.9%);
  --neutrals---black--7: hsl(var(--black), 54.9%);
  --neutrals---black--8: hsl(var(--black), 34.9%);
  --neutrals---black--9: hsl(var(--black), 27.1%);
  --neutrals---black--10: hsl(var(--black), 14.9%);
  --neutrals---black--11: hsl(var(--black), 12.2%);
  --neutrals---black--12: hsl(var(--black), 7.8%);
  --neutrals---black--13: hsl(var(--black), 0%);

  --error: 0deg;
  --supporting---error--1: hsl(var(--error), 60%, 97.1%);
  --supporting---error--2: hsl(var(--error), 60%, 93.1%);
  --supporting---error--3: hsl(var(--error), 61.3%, 87.8%);
  --supporting---error--4: hsl(var(--error), 60.9%, 82%);
  --supporting---error--5: hsl(var(--error), 61.3%, 76.7%);
  --supporting---error--6: hsl(var(--error), 61.4%, 71.6%);
  --supporting---error--7: hsl(var(--error), 38%, 60.8%);
  --supporting---error--8: hsl(var(--error), 25.1%, 50.8%);
  --supporting---error--9: hsl(var(--error), 24%, 40.8%);
  --supporting---error--10: hsl(var(--error), 24.4%, 32.2%);

  --info: 216deg;
  --supporting---info--1: hsl(var(--info), 71.4%, 97.3%);
  --supporting---info--2: hsl(var(--info), 64.7%, 93.3%);
  --supporting---info--3: hsl(var(--info), 67.2%, 88%);
  --supporting---info--4: hsl(var(--info), 66.3%, 82.5%);
  --supporting---info--5: hsl(var(--info), 65.8%, 77.1%);
  --supporting---info--6: hsl(var(--info), 66.2%, 72.2%);
  --supporting---info--7: hsl(var(--info), 40.4%, 61.2%);
  --supporting---info--8: hsl(var(--info), 26.9%, 51.2%);
  --supporting---info--9: hsl(var(--info), 25.7%, 41.2%);
  --supporting---info--10: hsl(var(--info), 25.3%, 32.5%);

  --success: 145deg;
  --supporting---success--1: hsl(var(--success), 47.4%, 96.3%);
  --supporting---success--2: hsl(var(--success), 43.5%, 91%);
  --supporting---success--3: hsl(var(--success), 43.9%, 83.9%);
  --supporting---success--4: hsl(var(--success), 45%, 76.5%);
  --supporting---success--5: hsl(var(--success), 44.9%, 69.4%);
  --supporting---success--6: hsl(var(--success), 44.5%, 62.5%);
  --supporting---success--7: hsl(var(--success), 30.5%, 53.1%);
  --supporting---success--8: hsl(var(--success), 26.5%, 44.3%);
  --supporting---success--9: hsl(var(--success), 26.4%, 35.7%);
  --supporting---success--10: hsl(var(--success), 26.4%, 28.2%);

  --warning: 21deg;
  --supporting---warning--1: hsl(var(--warning), 77.8%, 96.5%);
  --supporting---warning--2: hsl(var(--warning), 72.7%, 91.4%);
  --supporting---warning--3: hsl(var(--warning), 72.2%, 84.5%);
  --supporting---warning--4: hsl(var(--warning), 72.2%, 77.5%);
  --supporting---warning--5: hsl(var(--warning), 73.2%, 70.8%);
  --supporting---warning--6: hsl(var(--warning), 72.5%, 64.3%);
  --supporting---warning--7: hsl(var(--warning), 48.9%, 54.7%);
  --supporting---warning--8: hsl(var(--warning), 39.9%, 45.7%);
  --supporting---warning--9: hsl(var(--warning), 40.1%, 36.7%);
  --supporting---warning--10: hsl(var(--warning), 40.1%, 28.8%);

  --background: 229deg, 68%, 5%;
  --main---background: hsl(var(--background));
  --main---background--alpha: hsla(var(--background), 0.4);
}
