---
import Discord from '@components/icons/discord.astro';
import Github from '@components/icons/github.astro';
import Linkedin from '@components/icons/linkedin.astro';
import SantychuyLogo from '@components/icons/santychuyISO.astro';
---

<header>
  <a href="/" class="logo-link">
    <SantychuyLogo class="logo" />
  </a>

  <a href="/about" title="About Page">About</a>
  <span></span>
  <a
    href="https://discord.gg/B55We2GHF7"
    target="_blank"
    rel="noopener"
    title="Discord Server"
  >
    <Discord class="social-icon" />
  </a>
  <a
    href="https://github.com/santychuy"
    target="_blank"
    rel="noopener"
    title="Github Profile"
  >
    <Github class="social-icon" />
  </a>
  <a
    href="https://linkedin.com/in/santiagocarrascocampa"
    target="_blank"
    rel="noopener"
    title="Linkedin Profile"
  >
    <Linkedin class="social-icon" />
  </a>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    gap: 1.2rem;
    padding-block: 1rem;
    padding-inline: 1rem;

    @media screen and (min-width: 34.375rem) {
      gap: 2rem;
      padding-inline: 2rem;
    }

    @media screen and (min-width: 68.75rem) {
      padding-block: 3rem;
    }
  }

  a {
    text-decoration: none;
  }

  .logo-link {
    margin-right: auto;
  }

  .logo {
    width: 65px;

    @media screen and (min-width: 68.75rem) {
      width: 85px;
    }
  }

  .social-icon {
    width: 30px;
    height: 30px;
    transition: fill 0.2s ease-in-out;

    &:hover {
      fill: var(--primary---green--6);
    }

    @media screen and (min-width: 34.375rem) {
      width: 40px;
      height: 40px;
    }
  }

  span {
    width: 1px;
    height: 30px;
    background-color: var(--primary---green--10);
  }
</style>
