---
import { Image } from 'astro:assets';

import SantychuyIcon from '@assets/icons/santychuyISO.svg';
---

<header>
  <a href="/" class="logo-link">
    <Image src={SantychuyIcon} alt="Santychuy Icon" class="logo" width="65" />
  </a>

  <a href="/about/">About</a>
  <span></span>
  <a href="https://discord.gg/5qjwJwq" target="_blank" rel="noopener">
    <!-- TODO: refactor svg icons to components passing props -->
    <svg
      width="30"
      height="30"
      viewBox="0 0 51 40"
      xmlns="http://www.w3.org/2000/svg"
      class="social-icon"
    >
      <path
        d="M42.9753 4.05994C39.8085 2.57871 36.3798 1.50363 32.8083 0.882465C32.777 0.88146 32.7458 0.887356 32.7171 0.899739C32.6883 0.912123 32.6625 0.930692 32.6416 0.954138C32.2131 1.74253 31.713 2.76984 31.3797 3.55823C27.5915 2.98486 23.739 2.98486 19.9508 3.55823C19.6175 2.74595 19.1175 1.74253 18.6651 0.954138C18.6413 0.906356 18.5698 0.882465 18.4984 0.882465C14.9269 1.50363 11.522 2.57871 8.33145 4.05994C8.30764 4.05994 8.28383 4.08383 8.26002 4.10772C1.78365 13.8313 -0.00211096 23.292 0.878866 32.6572C0.878866 32.705 0.902676 32.7528 0.950296 32.7767C5.23613 35.9303 9.35529 37.8415 13.4268 39.1078C13.4983 39.1316 13.5697 39.1077 13.5935 39.06C14.5459 37.746 15.4031 36.3603 16.1412 34.903C16.1888 34.8074 16.1412 34.7118 16.0459 34.688C14.6888 34.1624 13.403 33.5412 12.1411 32.8245C12.0458 32.7767 12.0458 32.6333 12.1173 32.5617C12.3792 32.3705 12.6411 32.1555 12.903 31.9644C12.9506 31.9166 13.0221 31.9166 13.0697 31.9405C21.2604 35.6914 30.094 35.6914 38.1894 31.9405C38.237 31.9166 38.3085 31.9166 38.3561 31.9644C38.618 32.1794 38.8799 32.3705 39.1418 32.5856C39.2371 32.6572 39.2371 32.8006 39.118 32.8484C37.8799 33.589 36.5703 34.1862 35.2131 34.7118C35.1179 34.7357 35.0941 34.8552 35.1179 34.9269C35.8798 36.3842 36.737 37.7699 37.6656 39.0839C37.737 39.1078 37.8084 39.1316 37.8799 39.1078C41.9752 37.8415 46.0944 35.9303 50.3802 32.7767C50.4278 32.7528 50.4517 32.705 50.4517 32.6572C51.4993 21.8347 48.7135 12.4456 43.0705 4.10772C43.0467 4.08383 43.0229 4.05994 42.9753 4.05994ZM17.3793 26.9473C14.9269 26.9473 12.8792 24.6777 12.8792 21.8825C12.8792 19.0873 14.8793 16.8176 17.3793 16.8176C19.9032 16.8176 21.9033 19.1111 21.8794 21.8825C21.8794 24.6777 19.8794 26.9473 17.3793 26.9473ZM33.975 26.9473C31.5226 26.9473 29.4749 24.6777 29.4749 21.8825C29.4749 19.0873 31.4749 16.8176 33.975 16.8176C36.4989 16.8176 38.4989 19.1111 38.4751 21.8825C38.4751 24.6777 36.4989 26.9473 33.975 26.9473Z"
      ></path>
    </svg>
  </a>
  <a href="https://github.com/santychuy" target="_blank" rel="noopener">
    <svg
      width="30"
      height="30"
      viewBox="0 0 49 48"
      xmlns="http://www.w3.org/2000/svg"
      class="social-icon"
    >
      <path
        d="M24.6689 0.5C21.5172 0.5 18.3964 1.12294 15.4845 2.33324C12.5727 3.54355 9.92699 5.31752 7.69838 7.55387C3.19751 12.0704 0.668945 18.1961 0.668945 24.5834C0.668945 35.2283 7.55695 44.2596 17.0849 47.4627C18.2849 47.6554 18.6689 46.9088 18.6689 46.2585V42.1884C12.0209 43.6334 10.6049 38.9612 10.6049 38.9612C9.50095 36.1676 7.94095 35.421 7.94095 35.421C5.75695 33.9278 8.10895 33.976 8.10895 33.976C10.5089 34.1446 11.7809 36.4566 11.7809 36.4566C13.8689 40.1172 17.3969 39.0335 18.7649 38.4555C18.9809 36.8901 19.6049 35.8304 20.2769 35.2283C14.9489 34.6262 9.35695 32.555 9.35695 23.3793C9.35695 20.706 10.2689 18.5626 11.8289 16.8527C11.5889 16.2506 10.7489 13.7459 12.0689 10.4946C12.0689 10.4946 14.0849 9.84437 18.6689 12.9511C20.5649 12.4213 22.6289 12.1564 24.6689 12.1564C26.7089 12.1564 28.7729 12.4213 30.6689 12.9511C35.2529 9.84437 37.2689 10.4946 37.2689 10.4946C38.5889 13.7459 37.7489 16.2506 37.5089 16.8527C39.0689 18.5626 39.9809 20.706 39.9809 23.3793C39.9809 32.5791 34.3649 34.6021 29.0129 35.2042C29.8769 35.9508 30.6689 37.4199 30.6689 39.6597V46.2585C30.6689 46.9088 31.0529 47.6794 32.2769 47.4627C41.8049 44.2355 48.6689 35.2283 48.6689 24.5834C48.6689 21.4208 48.0482 18.289 46.8421 15.3671C45.6359 12.4452 43.8681 9.79023 41.6395 7.55387C39.4109 5.31752 36.7652 3.54355 33.8534 2.33324C30.9415 1.12294 27.8207 0.5 24.6689 0.5Z"
      ></path>
    </svg>
  </a>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin-inline: auto;
    gap: 1.2rem;
    padding-block: 1rem;
    padding-inline: 1rem;

    @media screen and (min-width: 34.375rem) {
      gap: 2rem;
      padding-inline: 2rem;
    }

    @media screen and (min-width: 68.75rem) {
      padding-block: 3rem;
    }
  }

  .logo-link {
    margin-right: auto;
  }

  .logo {
    width: 65px;

    @media screen and (min-width: 68.75rem) {
      width: 85px;
    }
  }

  .social-icon {
    width: 30px;
    height: 30px;
    transition: fill 0.2s ease-in-out;

    &:hover {
      fill: var(--primary---green--6);
    }

    @media screen and (min-width: 34.375rem) {
      width: 40px;
      height: 40px;
    }
  }

  span {
    width: 1px;
    height: 30px;
    background-color: var(--primary---green--10);
  }
</style>
