---
import BaseLayout from '@layouts/Base.astro';

const cannonicalURL = Astro.request.url;
---

<BaseLayout
  noIndex
  title="Page Not Found"
  description="Are you lost?"
  url={cannonicalURL}
>
  <section>
    <h1>404</h1>
    <p>Page not found</p>
  </section>
</BaseLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: clamp(4rem, 15vw, 10rem);
    animation: waving 3s ease-in-out infinite;
    background: linear-gradient(70deg, #1a2e84 0%, #9cd89f 80%);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: clamp(1rem, 3vw, 1.7rem);
  }
</style>
