---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Santychuy' description='Home Page'>
  <main>
    <h1>Soon</h1>
  </main>
</Layout>

<style>
  main {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }
</style>
