---
import { Image } from 'astro:assets';

import { data } from '@content/projects/projects.json';
import ArrowUpRight from '@components/icons/arrow-up-right.astro';
---

<section class="container">
  <h2 class="subtitle-section">Latest projects worked</h2>
  <p class="description-section">
    Below, you'll find a comprehensive list of the projects and jobs I've had
    the privilege to work on throughout my career. Feel free to explore and
    learn more about my experiences.
  </p>
  <div class="projects-container">
    {
      data.map(({ params: { slug }, props: { name, categories, iconImg } }) => (
        <a href={`/about/projects/${slug}`} class="project-container">
          <Image
            src={iconImg}
            alt={`${name} Logo`}
            width={20}
            height={20}
            class="company-logo"
          />
          <div class="job-info-container">
            <h3>{name}</h3>
            <p>{categories.join(', ')}</p>
          </div>
          <ArrowUpRight class="read-arrow" />
        </a>
      ))
    }
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 840px;
  }

  .subtitle-section {
    color: var(--primary---green--6);
    margin-block-end: 2rem;
  }

  .description-section {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    font-weight: 500;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background-color: var(--primary---green--10--alpha);
    padding-block: 60px;
    padding-inline: 2rem;
    margin-block-start: 70px;
    border-radius: 12px;
  }

  .project-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    background-color: var(--primary---green--10--alpha--2);
    width: 100%;
    max-width: 605px;
    border-radius: 12px;
    padding-block: 1rem;
    padding-inline: 1rem;

    &:hover .read-arrow {
      transform: translateY(4px);
    }

    @media screen and (min-width: 34.375rem) {
      gap: 28px;
      padding-inline: 2rem;
    }
  }

  .company-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    outline: 8px solid rgba(7, 15, 23, 0.7);
  }

  .job-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-inline-end: auto;
  }

  .read-arrow {
    rotate: 225deg;
    flex-shrink: 0;
    transition: transform 0.2s ease;
  }
</style>
