---
interface Props {
	title: string;
	className?: string;
}

const { title, className } = Astro.props;
---

<div class:list={['text-xs leading-tight font-medium text-ink-muted bg-brand-soft border border-line-strong rounded-pill py-1 px-2 w-fit', className]}>
  {title}
</div>
