---
interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<div class:list={['badge', className]}>
  {title}
</div>

<style>
  .badge {
    font-size: clamp(0.95rem, 1.5vw, 1.05rem);
    background-color: var(--primary---green--6--alpha);
    border-radius: 20px;
    padding-block: 8px;
    padding-inline: 12px;
    width: fit-content;
  }
</style>
