---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="badge">
  {title}
</div>

<style>
  .badge {
    font-size: clamp(0.95rem, 1.5vw, 1.05rem);
    background-color: var(--primary---green--6--alpha);
    border-radius: 20px;
    padding-block: 8px;
    padding-inline: 12px;
  }
</style>
