---
import { MailSend02Icon } from "@hugeicons/core-free-icons";

import { Button } from "@/components/ui/button";
import { Icon } from "@/components/ui/icon";
import { Input } from "@/components/ui/input";
---

<div class="mx-auto flex max-w-80 flex-col items-center gap-8 rounded-xl bg-primary/5 px-5 py-10 text-center">
  <h3>Suscribe to my newsletter</h3>
  <p>
    You’ll received my latest blog posts and articles related to frontend
    development and many more. <b class="underline">No Spam!</b>
  </p>
  <form class="flex w-full gap-2">
    <Input
      type="email"
      placeholder="Coming soon..."
      className="h-10 flex-1 rounded-xl"
      disabled
    />
    <Button type="button" variant="outline" size="icon" className="size-10 rounded-xl" disabled>
      <Icon icon={MailSend02Icon} size={18} />
    </Button>
  </form>
</div>
