---
import InputText from '@components/common/inputs/InputText.astro';
import Button from '@components/common/Button.astro';
import SendIcon from '@components/icons/send.astro';
---

<div class="newsletter">
  <h3>Suscribe to my newsletter</h3>
  <p>
    You’ll received my latest blog posts and articles related to frontend
    development and many more. <b>No Spam!</b>
  </p>
  <form>
    <InputText
      type="email"
      placeholder="Coming soon..."
      class="input"
      disabled
    />
    <Button disabled>
      <SendIcon />
    </Button>
  </form>
</div>

<style>
  .newsletter {
    background-color: var(--primary---green--6--alpha--2);
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 0.8rem;
    max-width: 320px;
    text-align: center;
    align-items: center;
    padding-block: 40px;
    padding-inline: 20px;

    form {
      display: flex;
      gap: 8px;
      width: 100%;
    }

    .input {
      flex: 1;
    }

    b {
      text-decoration: underline;
    }
  }
</style>
