---

---

<div class="newsletter">
  <h3>Suscribe to my newsletter</h3>
  <p>
    You’ll received my latest blog posts and articles related to frontend
    development and many more. <b>No Spam!</b>
  </p>
  <form>
    <input type="email" placeholder="Your email" />
    <button>Send</button>
  </form>
</div>

<style>
  .newsletter {
    background-color: var(--primary---green--6--alpha--2);
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 0.8rem;
    max-width: 320px;
    text-align: center;
    align-items: center;
    padding-block: 40px;
    padding-inline: 20px;

    form {
      display: flex;
      gap: 8px;
      width: 100%;
    }
  }
</style>
