---
import { Image } from 'astro:assets';

import ButtonGradient from '@components/common/ButtonGradient.astro';
---

<section>
  <Image
    src="https://avatars.githubusercontent.com/u/28853786?v=4"
    alt="Santychuy Image"
    width="150"
    height="150"
    class="img-avatar"
  />
  <h1>Santiago Carrasco</h1>
  <h2>Software Engineer from Hermosillo, MX</h2>
  <a href="#latest-posts" title="Latest Post">
    <ButtonGradient label="Read articles" />
  </a>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100vh - 500px);
  }

  .img-avatar {
    border-radius: 50%;
    border: 8px solid hsla(210, 53%, 6%, 40);
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  h1 {
    font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
    line-height: 1.3;
    margin-block-start: 28px;
    margin-block-end: 8px;
    background: linear-gradient(70deg, #1a2e84 0%, #9cd89f 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-clip: text;
    animation: waving 4s ease-in-out infinite;
  }
</style>
