---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {}

const { ...attrs } = Astro.props;
---

<button {...attrs} data-button>
  <slot>
    <p>Button</p>
  </slot>
</button>

<style>
  button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding-block: 0.6rem;
    padding-inline: 0.8rem;
    background-color: var(--neutrals---black--1);
    transition: transform 100ms linear;
  }

  button:active {
    transform: scale(0.95);
  }

  /* TODO: Add better style for a11y */
  button:focus {
    outline: none;
  }
</style>

<script>
  const button = document.querySelector('[data-button]');

  button?.addEventListener('click', (e) => {
    e.preventDefault();
  });
</script>
