<div class="tabs">
  <input type="radio" name="tab" id="experience" checked />
  <label for="experience">Experience</label>

  <input type="radio" name="tab" id="projects" />
  <label for="projects">Projects</label>

  <input type="radio" name="tab" id="example-projects" />
  <label for="example-projects">Example Projects</label>
</div>

<script>
  import { activeTab } from '../../stores/tabs';

  function handleTabChange(event: Event) {
    const target = event.target as HTMLInputElement;
    activeTab.set(target.id as 'experience' | 'projects' | 'example-projects');
  }

  document.querySelectorAll('input[type="radio"]').forEach((radio) => {
    radio.addEventListener('change', handleTabChange);
  });
</script>

<style>
  .tabs {
    display: flex;
    gap: 2rem;
    background-color: var(--neutrals---black--13);
    border: 1.5px solid var(--neutrals---black--11);
    border-radius: 0.5rem;
    padding-inline: 6px;
    padding-block: 6px;
    width: 100%;
    max-height: 60px;
  }

  input[type='radio'] {
    display: none; /* Hide radio buttons */
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    padding: 10px;
    color: var(--neutrals---black--9);
    border-radius: 0.5rem;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s linear;
  }

  input[type='radio']:checked + label {
    color: var(--neutrals---black--1);
    background-color: var(--primary---green--8);
    border-radius: 0.5rem;
    font-weight: 500;
  }
</style>
